
.destination-page {
    width: 100vw;
    height: 100%;
    background-image: url('../../assets/destination/background-destination-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    
}

.destination-page ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7%;
    font-family: var(--font-family-primary);
   
}

.destination-card h1 {
    font-size: 3.75em;
}
.destination-card p {
    text-align: center;
    font-size: 1em;;
    line-height: 1.5;
    margin-bottom: 20px;
}
.destination-card h2 {
    font-size: 2em;
    font-weight: 200;
    margin-bottom: 30px;
    
}
.destination-card h5 {
    font-size: 0.87em; 
    margin-bottom: 15px;
    font-family: var(--font-family-secondary);
}
.destination-card hr {
    background-color: rgba(151,151,151,0.4);
    height: 1px;
    width: 90vw;
    margin: 30px 0;
    border: none;
}
.destination-image {
    width: 10.62em;
    margin: 15px 0 70px 0;
}



/* Tablet settings */

@media (min-width: 48em) {
    .destination-page ul {
        margin: 5% 15%;
    }

    .destination-information-card {
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: space-evenly;
    }

    .destination-image {
        width: 18.62em;
        margin: 15px 0 90px 0;
    }
}



/* Desktop settings */

@media (min-width: 52em) {
}