ul {
    list-style: none;
}


.destination-page {
    width: 100vw;
    height: 100%;
    background-image: url('../../assets/destination/background-destination-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    
}

.destination-card {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.8em 1.5em;
    font-family: var(--font-family-primary);
   
}

.destination-card h1 {
    font-size: 3.75em;
}
.destination-card p {
    text-align: center;
    font-size: 1em;;
    line-height: 1.5;
    padding: 0 1em;
}
.destination-card h2 {
    font-size: 2em;
    font-weight: 200;
    margin-bottom: 30px;
    text-align: center;
    
}
.destination-card h5 {
    font-size: 0.87em; 
    margin-bottom: 15px;
    text-align: center;
    font-family: var(--font-family-secondary);
}
.destination-card hr {
    background-color: rgba(151,151,151,0.4);
    height: 1px;
    width: 90vw;
    margin: 2em 0;
    border: none;
}
.destination-image {
    display: flex;
    width: 170px;
    margin-bottom: 1.87em;
    
}
.destination-image img {
    object-fit: cover;
    width: 100%;   
}



/* Tablet settings */

@media (min-width: 48em) {
  
    .destination-information-card {
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: space-evenly;
        margin-bottom: 1.5em;
        list-style: none;
    }

    .destination-card p {
        margin: 0 6.12em;
    }

    .destination-image {
        width: 300px;
        margin-bottom: 3.75em;
    }
}



/* Desktop settings */

@media (min-width: 52em) {
}