:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr-secondary);
  --clr-primary: #0B0D17;
  --clr-secondary: #ffff;
  --clr-third: #D0D6F9;
  --font-family-secondary: 'Barlow Condensed', sans-serif;
  --font-family-primary: 'Bellefair', serif;
  font-family: var(--font-family-secondary);

}


